<div class="pl-5 pr-5">
    <div class="grid">
        <div class="col-12 lg:col-6 mt-4">
            <p-floatLabel>
                <input [disabled]="isModoVer()" class="w-full" pInputText id="codigo" [(ngModel)]="alumno.codigo" />
                <label for="codigo">Código Estudiante</label>
            </p-floatLabel>
        </div>  
        <div class="col-12 lg:col-6 mt-4">
            <p-floatLabel>
                <input [disabled]="isModoVer()" class="w-full" pInputText id="correoInstitucional" [(ngModel)]="alumno.correoInstitucional" />
                <label for="correoInstitucional">Correo Institucional</label>
            </p-floatLabel>
        </div>
    </div>
    
    <div class="grid">
        <div class="col-12 lg:col-6 mt-4">
            <p-floatLabel>
                <input [disabled]="isModoVer()" class="w-full" pInputText id="documentoIdentidad" [(ngModel)]="alumno.documentoIdentidad" />
                <label for="documentoIdentidad">Documento Identidad</label>
            </p-floatLabel>
        </div>
        <div class="col-12 lg:col-6 mt-4">
            <p-floatLabel>
                <input [disabled]="isModoVer()" class="w-full" pInputText id="nombres" [(ngModel)]="alumno.nombres" />
                <label for="nombres">Nombres</label>
            </p-floatLabel>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 lg:col-6 mt-4">
            <p-floatLabel>
                <input [disabled]="isModoVer()" class="w-full" pInputText id="apellidoPaterno" [(ngModel)]="alumno.apellidoPaterno" />
                <label for="apellidoPaterno">Apellido Paterno</label>
            </p-floatLabel>
        </div>
        <div class="col-12 lg:col-6 mt-4">
            <p-floatLabel>
                <input [disabled]="isModoVer()" class="w-full" pInputText id="apellidoMaterno" [(ngModel)]="alumno.apellidoMaterno" />
                <label for="apellidoMaterno">Apellido Materno</label>
            </p-floatLabel>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 lg:col-6 mt-4">
            <p-floatLabel>
                <p-calendar  dateFormat="dd/mm/yy" [disabled]="isModoVer()" [showButtonBar]="true" [touchUI]="true"  [style]="{'width':'100%'}" [(ngModel)]="alumno.fechaNacimiento" inputId="fechaNacimiento"  [iconDisplay]="'input'" [showIcon]="true"  />
                <label  for="fechaNacimiento">Fecha Nacimiento</label>
            </p-floatLabel>
        </div>
        <div class="col-12 lg:col-6 mt-4">
            <p-fieldset legend="Sexo">
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        <p-radioButton 
                            [disabled]="isModoVer()"
                            name="sexo_m" 
                            value="M" 
                            [(ngModel)]="alumno.sexo" 
                            inputId="sexo_m" />
                        <label for="sexo_m" class="ml-2">Masculino</label>
                    </div>
                    
                    <div class="flex align-items-center">
                        <p-radioButton 
                            [disabled]="isModoVer()"
                            name="sexo_f" 
                            value="F" 
                            [(ngModel)]="alumno.sexo" 
                            inputId="sexo_f" />
                        <label for="sexo_f" class="ml-2">Femenino</label>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>

    <div class="grid">
        <div class="col-12 lg:col-12 mt-4">
            <p-floatLabel>
                <input [disabled]="isModoVer()" class="w-full" pInputText id="direccion" [(ngModel)]="alumno.direccion" />
                <label for="direccion">Dirección</label>
            </p-floatLabel>
        </div>
    </div>
</div>




